{% extends "nodes" %}

{% block actions %}
  <div class="row">
    <div class="col s12">
      <a class="btn-floating btn-large waves-effect waves-light red" href="/add_stream/{{ node.id }}">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
{% endblock actions %}
